.sap-apps {
  @rem: 16px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/index/main/apps/apps-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  overflow: auto;
  padding: 0 2*@rem;

  .sap-apps-group {
    margin: 3*@rem auto 0 auto;
    .sap-app-group-title {
      font-size: 1.5*@rem;
      font-weight: normal;
      color: @body-bg;
      margin-bottom: 1*@rem;
    }
  }
  .sap-apps-tile {
    display: inline-block;
    vertical-align: top;
    width: 11.5*@rem;
    height: 11*@rem;
    margin: 0 0.5*@rem 0.5*@rem 0;
    padding: 0.5*@rem;
    box-shadow: 0px 0px 0.25rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    .sap-apps-tile-header {
      height: 3.5*@rem;
      font-size: 1*@rem;
      margin: 0;
      .sap-apps-tile-header-subtitle {
        display: block;
        font-size: 0.875*@rem;
        color: @headings-small-color;
      }

    }
    .sap-apps-tile-content {
      @sap-apps-tile-content-height: 4.5*@rem;
      height: @sap-apps-tile-content-height;
      margin: 0.5*@rem 0 0.5*@rem 0;
      .glyphicon {
        @sap-apps-tile-content-icon-height: 2.25*@rem;
        margin-top: @sap-apps-tile-content-height - @sap-apps-tile-content-icon-height;
        font-size: @sap-apps-tile-content-icon-height;
      }
    }
    .sap-apps-tile-footer {
      height: 1*@rem;
      font-size: 0.875*@rem;
      color: @headings-small-color;
      text-align: right;
    }
  }
}