<div class="sap-main">
    <hr class="sap-branding-bar"/>
    <header class="sap-page-header">
        <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" tabindex="-1"><i class="glyphicon glyphicon-th-list icon" ng-click="controller.toggleSideBar()"></i> {{msg.title}}</a>
            <div class="pull-right">
                <button sap-main-gallery-button-directive ng-click="controller.toggleGalleryPopover()"></button>
                <span class="sap-separator"></span>
                <button sap-main-language-button-directive ng-click="controller.toggleLanguagePopover()"></button>
                <button sap-main-user-button-directive ng-click="controller.toggleUserPopover()"></button>
                <img src="images/shared/logo.png" alt="SAP" class="sap-logo"/>
            </div>
        </nav>
    </header>
    <aside class="sap-page-sidebar {{sidebarMode}}">
        <ul class="list-group">
            <li ng-class="{'list-group-item':true, 'active': currentPage === page}" ng-repeat="page in pages"><a href="#/main/{{page.name}}" class="sap-list-item-link"><i class="glyphicon glyphicon-{{page.icon}}"></i><span class="sap-list-item-text">{{page.name | sapSharedTranslateFilter}}</span></a></li>
        </ul>
    </aside>
    <main class="sap-page-main {{sidebarMode}}" ng-include="'partials/index/main/' + currentPage.name + '/' + currentPage.name + '.html'"></main>
    <div ng-if="isUserPopoverVisible" sap-main-user-popover-directive></div>
    <div ng-if="isLanguagePopoverVisible" sap-main-language-popover-directive></div>
    <div ng-if="isGalleryPopoverVisible" sap-main-gallery-popover-directive></div>
</div>